<div id='cart-container'>
    <ul id='cart-list'>
        {{#each carts}}
            <li>
                <h2>Carrito ID: {{_id}}</h2>
                <ul>
                    {{#each products}}
                        <li>
                            Producto:
                            {{this.product.title}}
                            - Cantidad:
                            {{this.quantity}}
                            - Precio: ${{this.product.price}}
                        </li>
                    {{/each}}
                </ul>
                <div class='total-price'>
                    Total: ${{calculateTotal products}}
                    <!-- Calcular el total del carrito -->
                </div>
                <button class='btn-buy' data-cart-id='{{_id}}'>Comprar</button>
                <button class='btn-clear' data-cart-id='{{_id}}'>Limpiar carrito</button>
            </li>
        {{/each}}
    </ul>
</div>

<link rel='stylesheet' href='/css/cart.css' />
<script src='/js/cart.js' defer></script>