<div id='cart-container'>
    <h1>Lista de Carritos</h1>
    <div id='cart-list'>
        {{#each carts}}
            <div class='cart-card'>
                <h2>Carrito ID: {{_id}}</h2>
                <ul>
                    {{#each products}}
                        <li>
                            Producto: {{this.product.title}} - Cantidad: <span class="quantity">{{this.quantity}}</span> - Precio: ${{this.product.price}}
                            <div class="button-group">
                                <button class='btn-increase' data-cart-id='{{../_id}}' data-product-id='{{this.product._id}}'>+</button>
                                <button class='btn-decrease' data-cart-id='{{../_id}}' data-product-id='{{this.product._id}}'>-</button>
                                <button class='btn-remove' data-cart-id='{{../_id}}' data-product-id='{{this.product._id}}'>Eliminar</button>
                            </div>
                        </li>
                    {{/each}}
                </ul>
                <div class='total-price'>
                    Total: ${{calculateTotal products}}
                </div>
                <button class='btn-remove btn-delete-cart' data-cart-id='{{_id}}'>Eliminar Carrito</button>
            </div>
        {{/each}}
    </div>
    <div id='pagination'>
        {{#if (gt currentPage 1)}}
            <a href='/carts?page={{dec currentPage}}&limit=10'>Anterior</a>
        {{/if}}
        {{#if (lt currentPage totalPages)}}
            <a href='/carts?page={{inc currentPage}}&limit=10'>Siguiente</a>
        {{/if}}
    </div>
    {{#if carts.length}}
        <button id='btn-clear-all'>Eliminar Todos los Carritos</button>
    {{/if}}
</div>

<link rel='stylesheet' href='/css/carts.css' />
<script src='/js/carts.js' defer></script>