<header>
    <h1>Bienvenido a la Tienda Electrónica</h1>
</header>

<div id='products-container'>
    {{#each products}}
        <article class='product'>
            <img src='./images/{{image}}' alt='{{title}}' />
            <div>
                <span class='product-title'>{{title}}</span>
                <p class='product-price'>${{price}}</p>
                <button class='add-to-cart-btn' data-product-id='{{id}}'>Añadir
                    al carrito</button>
            </div>
        </article>
    {{/each}}
</div>

<link rel='stylesheet' href='/css/home.css' />
<script src='/js/home.js' defer></script>